html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
}
body {
	margin: 0;
}
main {
	display: block;
}
h1 {
	font-size: 2em;
	margin: 0.67em 0;
}
hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}
pre {
	font-family: monospace, monospace;
	font-size: 1em;
}
a {
	background-color: transparent;
	text-decoration: none;
}
abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	text-decoration: underline dotted;
}
b,
strong {
	font-weight: bolder;
}
code,
kbd,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}
small {
	font-size: 80%;
}
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sub {
	bottom: -0.25em;
}
sup {
	top: -0.5em;
}
img {
	border-style: none;
}
button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}
button,
input {
	overflow: visible;
}
button,
select {
	color: #000;
	text-transform: none;
}
button,
[type='button'],
[type='reset'],
[type='submit'] {
	-webkit-appearance: button;
}
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
	border-style: none;
	padding: 0;
}
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
	outline: 1px dotted ButtonText;
}
fieldset {
	padding: 0.35em 0.75em 0.625em;
}
legend {
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}
progress {
	vertical-align: baseline;
}
textarea {
	overflow: auto;
}
[type='checkbox'],
[type='radio'] {
	box-sizing: border-box;
	padding: 0;
}
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
	height: auto;
}
[type='search'] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}
[type='search']::-webkit-search-decoration {
	-webkit-appearance: none;
}
::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}
details {
	display: block;
}
summary {
	display: list-item;
}
template {
	display: none;
}
[hidden] {
	display: none;
}

/* Styles start from here */
body {
	background-color: #f0f4ff;
	background: url( './assets/arena.jpg' ) no-repeat center center fixed;
	background-size: cover;
	color: #000;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	margin: 0;
}

button:focus,
[type='submit'] {
	outline: none;
}

button:focus,
input:focus {
	outline: 1px auto #cc593e;
}

button:not( .vocab-type ):not( .option-button ):not( .verb-table-option-button ),
[type='submit'] {
	background: #ee6c4d;
	cursor: pointer;
	outline: none;
	margin: 12px;
	color: #2d2a2a;
	padding: 12px;
	font-size: 18px;
	color: white;
	width: 171px;
	border-radius: 8px;
	box-shadow: 0 8px 16px rgba( 0, 0, 0, 0.2 );
	border: 2px solid #dc5e40;
	border-bottom-width: 5px;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-weight: 600;
	border-bottom-color: #cc593e;
}

button:not( .vocab-type ):hover,
[type='submit']:hover {
	transform: scale( 1.06 );
}

button.has-selected {
	background: #e0ceb9;
}

button.vocab-type:focus {
	outline: none;
}

button.has-selected:hover {
	transform: none;
}

h3 {
	font-size: 1.2em;
}

li {
	margin-bottom: 8px;
}

.loading-screen {
	background: #ee6c4d;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 99999;
}

.loading-screen-wrapper {
	top: 40%;
	right: 50%;
	transform: translate( 50%, -50% );
	position: absolute;
	display: flex;
	flex-direction: column-reverse;
}

.loading-screen-wrapper img {
	width: 200px;
	background: #ec5c39;
	padding: 12px;
	border-radius: 42px;
	margin: 52px;
}

.loading-screen .progress-bar {
	max-width: 300px;
	right: 50%;
	border: 2px solid #a52232;
	border-radius: 14px;
	transform: translateX( 50% );
	position: absolute;
	width: 100%;
}

.loading-screen .progress-bar .inner-progress {
	background: #bb2730;
	transition: width 1.2s ease;
	animation: width-animation 1.2s;
	border-radius: 14px;
	width: 100%;
}

.loading-screen .no-script-message {
	color: #fff;
	font-size: 18px;
	text-align: center;
}

@keyframes width-animation {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}

.row-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
}

.row-wrapper.is-collapsed {
	justify-content: flex-start;
}

.row-wrapper.is-collapsed .dropdown,
.select-verbs .is-collapsed .dropdown {
	-webkit-transform: rotate( 180deg );
	transform: rotate( 180deg );
}

.row-wrapper.is-collapsed .vocab-type {
	display: none;
}

.row-wrapper.is-collapsed .button-group {
	max-height: 0;
}

.select-verbs .indicative.is-collapsed .indicative-toggle-wrapper,
.select-verbs .subjunctive.is-collapsed .subjunctive-toggle-wrapper {
	display: none;
}

.is-gcseeduqas .book-5,
.is-clc .row-4 .vocab-type:last-of-type,
.is-gcseocr .miscellaneous-nouns,
.is-gcseocr .rare-verbs .vocab-type:nth-child( 4 ) {
	display: none;
}

.row-header {
	padding: 0;
	margin: 0;
	flex-shrink: 1;
	border: 0;
	box-shadow: none;
	background: #e9eaf1;
	border-bottom: #445ea0 2px solid;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	font-size: 14px;
	width: 200px;
	display: flex;
}

.row-header .dropdown {
	cursor: pointer;
	height: 34px;
	margin: auto 0;
}

.row-header p {
	margin-left: 16px;
}

.start-vocab-options {
	display: flex;
	justify-content: space-between;
	margin-top: 4px;
	margin-bottom: 8px;
	=: center;
}

.vocab-type {
	background: 0;
	border: 0;
	text-align: left;
	width: 100%;
	cursor: pointer;
	line-height: normal;
	flex-grow: 1;
}

.vocab-type:last-of-type.has-selected {
	border-bottom-left-radius: 18px;
	border-bottom-right-radius: 18px;
}

.vocab-type p {
	color: #000;
	margin-left: 12px;
}

.starting-warning,
.start-declensions-warning,
.start-verbs-warning,
.vocabulary-selection-warning {
	display: none;
	color: #ffe7e8;
	text-align: center;
	font-weight: 600;
}

.vocabulary-selection-warning {
	color: #b32d2e;
	font-size: 16px;
	margin-bottom: 0;
}

.start-button-wrapper.is-inactive {
	opacity: 0.7;
}

.start-button-wrapper.is-inactive button {
	pointer-events: none;
}

.start-button-wrapper.is-inactive img {
	pointer-events: none;
	animation: none;
}

.start-button-wrapper.is-inactive:hover + .starting-warning {
	display: block;
}

.start-button-wrapper {
	text-align: center;
}

.start-button-wrapper img {
	height: 80px;
	background: white;
	padding: 12px 24px;
	border-radius: 12px;
	cursor: pointer;
	animation: pulse 1.6s infinite;
}

.start-button-wrapper:not( .is-inactive ) .start-button {
	animation: pulse 2s infinite;
}

.start-button-wrapper:not( .is-inactive ):hover img {
	transform: scale( 1.2 );
}

.selected-words-prompt {
	cursor: pointer;
	display: block;
	font-size: 12px;
	text-align: center;
	text-decoration: underline;
	margin-top: 12px;
}

.selected-words-prompt:first-of-type {
	margin-right: 6px;
}

.start-button-wrapper.is-inactive .selected-words-prompt {
	pointer-events: none;
}

.file-upload.toggle {
	font-size: 12px;
	margin-top: 12px;
	display: none;
}

.file-upload.toggle p {
	font-size: 12px;
}

.file-upload.toggle input {
	margin-top: 12px;
}

.options-menu {
	display: flex;
	justify-content: flex-end;
}

.options-menu a {
	cursor: pointer;
	margin-right: 24px;
	background: #c1ceef;
	padding: 8px;
	font-size: 14px;
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
}

.options-menu a:hover {
	text-decoration: none;
}

.options-menu .quick-links {
	align-items: baseline;
	display: flex;
	margin-right: auto;
	margin-left: 26px;
}

.mute,
.not-mute {
	display: none;
}

.options-menu:not( .is-muted ) .not-mute,
.options-menu.is-muted .mute {
	display: block;
}

.options-menu .quick-links a {
	background: 0;
	padding: 4px 8px;
	margin: auto;
	width: 24px;
	height: 24px;
}

.options-menu .quick-links a:hover {
	transform: scale( 0.9 );
}

.options-menu .quick-links {
	background: #ee6c4d;
	color: #fff;
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
	padding-bottom: 2px;
}

.quick-links svg {
	fill: white;
	fill: rgba( 255, 255, 255, 0.85 );
	height: 20px;
	margin-top: 2px;
}

.quick-links .heightened svg {
	height: 24px;
	margin-top: 0;
}

.reset-test-option {
	display: none;
}

.reset-test-option a {
	background: #ee6c4d;
	color: white;
}

.has-begun-vocab-test:not( .has-begun-conjugation-test ):not( .has-begun-declension-test )
	.reset-test-option,
.has-begun-vocab-test.is-competitive-mode .reset-test-option {
	display: flex;
}

.options-menu .course-options {
	align-items: flex-start;
	display: flex;
}

.has-begun-vocab-test.is-competitive-mode .practise-prompt,
.has-begun-vocab-test.is-competitive-mode .course-options,
.has-begun-vocab-test:not( .has-begun-declension-test ):not( .has-begun-conjugation-test )
	.practise-prompt,
.has-begun-vocab-test:not( .has-begun-declension-test ):not( .has-begun-conjugation-test )
	.course-options {
	display: none;
}

.select-all-option {
	cursor: pointer;
	margin-top: 14px;
	background: white;
	display: block;
	float: right;
	padding: 8px 12px;
	border-radius: 8px;
	margin-left: 24px;
}

.select-all-option-mobile {
	margin-bottom: 14px;
	margin-top: 0;
	display: none;
	text-align: right;
	margin-right: 32px;
}

.is-alevelocr .alevelocrlink,
.is-literature .alevelocrlink,
.is-gcseeduqas .gcseeduqaslink,
.is-gcseocr .gcseocrlink,
.is-clc .clclink,
.is-custom-list .customlistlink {
	background: #1b2b63;
	color: white;
}

.customlistlink,
.select-all-option.literature-option,
.stages,
.literature-vocabulary,
.is-gcseeduqas .categories,
.is-clc .categories,
.is-custom-list .categories,
.is-literature .categories,
.custom-lists {
	display: none;
}

.is-gcseeduqas .stages,
.is-clc .stages,
.is-custom-list .custom-lists,
.is-literature .literature-vocabulary {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.is-alevelocr .select-all-option.literature-option,
.is-literature .select-all-option.literature-option {
	display: inline-block;
}

.literature-vocabulary {
	max-width: 920px;
}

.literature-vocabulary .row-wrapper {
	width: 100%;
}

.john-taylor-vocabulary {
	display: none;
	flex-direction: row;
}

.is-literature .john-taylor-vocabulary {
	display: flex;
}

.john-taylor-vocabulary .literature-heading {
	margin-right: 16px;
	width: 70%;
}

.literature-heading p {
	letter-spacing: -0.2px;
}

.john-taylor-vocabulary .button-group {
	margin: auto;
	border-radius: 12px;
}

.john-taylor-vocabulary .vocab-type {
	text-align: center;
	min-height: 50px;
}

.john-taylor-vocabulary .button-group p {
	margin: auto;
}

.literature-vocabulary .row-wrapper:last-of-type {
	margin-bottom: 0;
}

.stages button {
	padding: 0 18px;
}

.stages .row-1 .vocab-type {
	line-height: 0.5;
}

.top-footer-toggle {
	background: #ee6c4d;
	border: 3px solid #cc593e;
	border-left: 0;
	border-top: 0;
	border-bottom-right-radius: 24px;
	cursor: pointer;
	display: none;
	height: 50px;
	position: fixed;
	width: 50px;
	left: 0;
	top: 0;
	z-index: 3;
}

.footer-collapse {
	background: #ec6c4c;
	display: inline-block;
	position: fixed;
	bottom: 55px;
	z-index: 1;
	left: 20px;
	cursor: pointer;
	border-radius: 99%;
	padding: 4px;
}

.footer-collapse.collapsed {
	display: none;
}

.footer-collapse:hover {
	transform: scale( 1.1 );
}

.footer-collapse svg {
	width: 32px;
	height: 28px;
	fill: white;
}

.hide-footer .footer-collapse.collapsed {
	display: inline-block;
	bottom: inherit;
	top: 10px;
	z-index: 3;
}

.hide-footer .footer-collapse {
	display: none;
}

.footer {
	display: flex;
	position: fixed;
	bottom: 0;
	width: 100%;
	background: #ee6c4d;
	overflow: hidden;
}

.hide-footer .footer {
	display: none;
}

.hide-footer .top-footer-toggle {
	display: block;
}

.footer-items {
	align-items: center;
	display: flex;
	height: 90px;
	justify-content: center;
	margin: auto;
}

.is-competitive-mode .footer-items {
	visibility: hidden;
}

.footer a {
	cursor: pointer;
	color: #fff;
	background: #3a5087;
	padding: 10px 22px;
	border-bottom: 3px solid #324677;
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	letter-spacing: 0.2px;
	box-shadow: 0 0 0 1px #2b3d6c;
}

.footer-items a:hover {
	text-decoration: none;
}

.footer-item:not( .is-active ):hover {
	border-radius: 8px;
	transform: scale( 1.1 );
}

.footer a:first-of-type {
	border-top-left-radius: 12px;
	border-bottom-left-radius: 12px;
}

.footer-items a:last-of-type {
	border-bottom-right-radius: 12px;
	border-top-right-radius: 12px;
}

.footer-items a.is-active {
	background: #1a2b63;
	border-bottom: 3px solid #121d40;
	pointer-events: none;
}

.dummy-link.view-games-link {
	visibility: hidden;
	margin-left: 24px;
}

.view-games-link {
	margin: auto 0;
	margin-right: 24px;
	font-size: 18px;
	color: white;
	border-radius: 12px;
}

.view-games-link a {
	cursor: pointer;
	font-size: 17px;
	font-weight: 500;
}

.footer .view-games-link a {
	border-radius: 6px;
	padding: 6px 8px;
	font-size: 15px;
	text-decoration: none;
}

.view-games-link:hover {
	transform: scale( 1.05 );
}

a:hover {
	text-decoration: underline;
}

.header {
	background: #1b2b63;
	color: #fff;
	padding: 28px;
	position: relative;
}

.heading {
	text-align: center;
}

.heading h1 {
	margin: 0;
}

.left-content {
	margin-right: 12px;
	max-width: 30%;
	width: 400px;
}

.main-content {
	align-items: flex-start;
	display: flex;
	margin: 20px;
	margin-bottom: 120px;
	margin-top: 30px;
	justify-content: space-around;
}

.hide-footer .main-content {
	margin-bottom: 12px;
}

.right-content {
	margin-right: 0;
}

.categories {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.button-group {
	display: inline-flex;
	flex-wrap: wrap;
	flex-direction: column;
	background: #fff;
	margin-right: 24px;
	width: 200px;
	margin-bottom: 24px;
	border-bottom-left-radius: 18px;
	border-bottom-right-radius: 18px;
	flex: 1;
}

.literature-vocabulary .button-group {
	border-radius: 12px;
	flex-direction: row;
	flex-wrap: nowrap;
	margin-right: 0;
	width: auto;
}

.literature-vocabulary .button-group .vocab-type:first-of-type.has-selected {
	border-radius: 0;
	border-top-left-radius: 12px;
	border-bottom-left-radius: 12px;
}

.literature-vocabulary .button-group .vocab-type:last-of-type.has-selected {
	border-radius: 0;
	border-top-right-radius: 12px;
	border-bottom-right-radius: 12px;
}

.john-taylor-vocabulary .vocab-type.has-selected {
	border-radius: 12px;
}

.literature-heading {
	background: #e9eaf1;
	border: 2px solid #455ea0;
	padding: 0 16px;
	margin-bottom: 4px;
}

.progress-bar,
.inner-progress {
	background: #c5c2c2;
	border-radius: 14px;
	display: inline-flex;
	height: 24px;
	transition: width 0.6s ease;
	width: 50%;
	margin: auto 0;
}

.progress-bar .inner-progress {
	background: #1ed15a;
}

.times-wrong,
.show-word-table-toggle {
	text-align: right;
	margin-right: 4px;
}

.show-word-table-toggle a:first-of-type {
	display: none;
	margin: auto;
	margin-left: 8px;
}

.show-word-table-toggle a {
	cursor: pointer;
	text-decoration: underline;
}

.declension-return-to-test-prompt {
	display: none;
	margin-top: 32px;
	text-align: right;
}

.declension-return-to-test-prompt a {
	cursor: pointer;
	text-decoration: underline;
}

.declension-return-to-test-prompt button#return-to-test-prompt {
	width: auto;
	padding: 6px;
	font-size: 14px;
	box-shadow: 0 3px 4px rgba( 0, 0, 0, 0.2 );
}

.celebration {
	display: none;
}

.celebration h3,
.try-retest-prompt {
	text-align: center;
}

.try-retest-prompt.is-inactive {
	display: none;
}

.export-prompt,
.sidebar-prompt,
.sidebar-prompt:hover {
	color: #fff;
	cursor: pointer;
	text-decoration: underline;
}

.export-sidebar-prompt-wrapper {
	display: none;
	margin: auto;
	text-align: center;
}

.practise-prompt {
	margin: 0;
	margin-top: 14px;
	margin-left: 32px;
	font-size: 18px;
}

.practise-prompt a {
	cursor: pointer;
	text-decoration: underline;
}

.leaderboard-submit-success,
.time-ended .competition-warning,
.competition-leaderboard-text-success,
.competition-leaderboard-text-fail {
	display: none;
}

.leaderboard-submitted .leaderboard-submit-success,
.time-ended .competition-correction,
.leaderboard-eligible .competition-leaderboard-text-success,
.leaderboard-ineligible .competition-leaderboard-text-fail {
	display: block;
}

.competition-leaderboard-text-fail a {
	text-decoration: underline;
	cursor: pointer;
}

.leaderboard-submit-name {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding-bottom: 24px;
	align-items: center;
}

.leaderboard-submitted .leaderboard-submit-name {
	display: none;
}

.leaderboard-submit-success {
	text-align: center;
	margin: 0 24px;
	letter-spacing: -0.2px;
	font-size: 15px;
	margin-bottom: 12px;
}

.leaderboard-submit-name p {
	text-align: center;
}

.leaderboard-submit-name .compact-options .option-button {
	box-shadow: none;
	margin: 0;
}

.leaderboard-submit-name .option-button .laurel-image {
	height: 30px;
	margin-right: 12px;
}

.leaderboard-ineligible .leaderboard-submit-name {
	display: none;
}

.leaderboard-submit-name input {
	margin: auto 16px auto;
	max-width: 100%;
	padding: 12px 6px;
	width: 300px;
	border-radius: 6px;
	border: 0;
}

.leaderboard-button {
	margin: 0;
}

.leaderboard-heading-wrapper {
	display: flex;
	margin-top: 12px;
	align-items: center;
	justify-content: space-between;
}

.leaderboard-heading-wrapper h4 {
	margin: 0;
	margin-right: 12px;
}

.starting-leaderboard p {
	font-size: 14px;
}

.starting-leaderboard li {
	font-size: 15px;
}

.leaderboard-heading-wrapper select {
	border-radius: 6px;
	margin-right: 6px;
	font-size: 14px;
}

#competition-warning a {
	cursor: pointer;
	text-decoration: underline;
}

.countdown-clock-circle {
	display: none;
	position: relative;
	float: left;
	margin: auto;
}

.countdown-clock-circle h2 {
	text-align: center;
	position: absolute;
	line-height: 95px;
	font-size: 40px;
	width: 100%;
}

.countdown-clock-circle svg {
	-webkit-transform: rotate( -90deg );
	transform: rotate( -90deg );
}

.countdown-clock-circle-animation {
	stroke-dasharray: 440;
	stroke-dashoffset: 0;
	-webkit-transition: all 1s linear;
	transition: all 1s linear;
}

.competition-introduction {
	text-align: center;
}

.competition-countdown {
	font-size: 64px;
	font-weight: 600;
}

#vocab-tester-wrapper.time-ended .competition-countdown {
	font-size: 32px;
}

#competitive-mode,
#vocab-test-competition,
.competition-conclusion,
.leaderboard-wrapper,
.is-competitive-mode #practise-mode,
.is-competitive-mode .practise-declensions-link,
.is-competitive-mode .introductary-text,
.is-competitive-mode .start-button-wrapper,
.is-competitive-mode .start-button-wrapper-text,
.is-competitive-mode .test-settings-wrapper,
.is-competitive-mode .reveal-answer-button,
.is-competitive-mode .progress-bar,
.is-competitive-mode .times-wrong,
.is-competitive-mode .incorrect-words,
.is-competitive-mode #progress-indicator-set,
.is-competitive-mode #vocab-tester-wrapper.time-started .competition-introduction,
.is-competitive-mode #vocab-tester-wrapper #vocab-tester,
.is-competitive-mode .file-upload {
	display: none;
}

.is-competitive-mode #vocab-tester-wrapper.time-started #vocab-tester,
.is-competitive-mode #vocab-test-competition,
.is-competitive-mode:not( .has-begun-vocab-test ) .leaderboard-wrapper,
.is-competitive-mode.has-begun-vocab-test .time-ended .leaderboard-wrapper,
.is-competitive-mode #vocab-tester-wrapper.time-ended .competition-conclusion,
.is-competitive-mode #vocab-tester-wrapper:not( .time-ended ) .countdown-clock-circle {
	display: block;
}

.is-competitive-mode #competitive-mode,
.is-competitive-mode #vocab-test-competition {
	display: block;
	padding: 24px;
	font-size: 18px;
	letter-spacing: -0.25px;
}

.is-competitive-mode.has-begun-conjugation-test #vocab-test-competition,
.is-competitive-mode.has-begun-declension-test #vocab-test-competition {
	font-size: 16px;
}

.is-competitive-mode .main-content {
	margin: 20px 52px;
}

.is-competitive-mode .main-content {
	align-items: flex-start;
	margin-bottom: 80px;
}

.is-competitive-mode.has-begun-vocab-test .left-content {
	display: flex;
	justify-content: center;
}

.is-competitive-mode .time-ended .left-content {
	display: block;
}

.is-competitive-mode .options-menu .practise-options,
.has-begun-declension-test:not( .is-competitive-mode ) .left-content .incorrect-words,
.has-begun-conjugation-test:not( .is-competitive-mode ) .left-content .incorrect-words,
.has-begun-declension-test .times-wrong,
.has-begun-conjugation-test .times-wrong,
.has-begun-declension-test .progress-bar,
.has-begun-conjugation-test .progress-bar,
.select-declensions-wrapper,
.select-verbs-wrapper,
#vocab-question-details,
.show-word-table-toggle,
.show-word-table-toggle a:first-of-type {
	display: none;
}

.has-begun-declension-test:not( .is-competitive-mode ) .left-content .select-declensions-wrapper,
.has-begun-conjugation-test:not( .is-competitive-mode ) .left-content .select-verbs-wrapper,
.has-begun-declension-test:not( .is-competitive-mode ) .show-word-table-toggle,
.has-begun-conjugation-test #vocab-question-details,
.has-begun-declension-test #vocab-question-details,
#vocab-tester-wrapper.time-ended .show-word-table-toggle-competition,
.has-begun-declension-test #vocab-tester-wrapper.time-ended #word-table-prompt-competitive,
.has-begun-conjugation-test #vocab-tester-wrapper.time-ended #word-table-prompt-competitive,
.has-begun-conjugation-test:not( .is-competitive-m.ode ) .show-word-table-toggle a:first-of-type {
	display: block;
}

.has-begun-conjugation-test:not( .is-competitive-mode ) .show-word-table-toggle {
	display: flex;
}

.leaderboard-wrapper {
	text-align: left;
}

.select-declensions,
.select-verbs {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.further-content h3,
.select-declensions-wrapper h3,
.select-verbs-wrapper h3 {
	font-size: 16px;
}

.is-table-mode .further-content h3 {
	display: none;
}

.select-declensions .toggle input {
	margin-left: 8px;
}

.select-verbs .toggle input {
	margin-left: 10px;
}

.select-declensions p {
	font-size: 14px;
}

.select-verbs p {
	font-size: 12px;
	margin: 10px 0;
}

.verb-toggle-group {
	border: 1px solid #fff;
	border-color: rgba( 255, 255, 255, 0.46 );
	margin-bottom: 12px;
	padding: 6px 12px;
}

.select-verbs-wrapper .singular-only-option {
	margin-top: 24px;
	flex-direction: column;
	border: 1px solid #1a2b63;
	padding: 12px;
	background: #3b5087;
}

.select-verbs-wrapper .singular-only-option p {
	font-size: 14px;
	line-height: 1.5;
	margin: 0;
	text-align: center;
	font-weight: 500;
	margin-bottom: 6px;
}

.select-verbs-wrapper .singular-only-option input {
	margin: auto;
}

.noun-types {
	margin-right: 12px;
}

.noun-types .toggle,
.case-types .toggle {
	border: 1px solid #fff;
	margin-bottom: 18px;
	padding: 14px 12px;
	width: 155px;
	border-color: rgba( 255, 255, 255, 0.65 );
	border-radius: 4px;
}

.noun-types .toggle p,
.case-types .toggle p {
	margin: auto 0;
}

.noun-types .toggle.other {
	border: 0;
	padding: 0;
	margin-left: 0;
	width: 164px;
}

.other-toggles-wrapper {
	padding: 0 4px;
	margin-top: 24px;
	width: 145px;
}

.other-toggles-wrapper .toggle p {
	font-size: 12px;
}

.other-toggles-wrapper .toggle input {
	margin-left: 14px;
}

.vocab-submit-answer-wrapper {
	display: flex;
	flex-direction: column;
	margin: 0 60px;
}

.vocab-submit-prompt {
	text-align: left;
	margin-top: 36px;
}

.vocab-answer-margin {
	margin-left: -12px;
	text-align: left;
}

#vocab-answer {
	border: 2px solid #374d84;
	border-radius: 8px;
	padding: 4px 6px;
	height: 38px;
	outline-color: #1a2b61;
	width: calc( 100% - 12px );
}

.progress-indicator {
	letter-spacing: 0.1px;
	margin: auto;
	margin-left: 12px;
	min-width: 60px;
}

.progress-indicator p {
	margin: 0;
	font-size: 15px;
}

.progress-indicator span:first-of-type {
	position: relative;
	bottom: 5px;
	margin-right: 5px;
	min-width: 10px;
}

.progress-indicator span:last-of-type {
	position: relative;
	top: 5px;
	min-width: 10px;
	text-align: right;
}

.has-begun-declension-test .progress-indicator span,
.has-begun-conjugation-test .progress-indicator span,
.is-competitive-mode .progress-indicator span {
	position: static;
	margin: 0;
}

.vocab-submit-answer-wrapper input {
	max-width: 100%;
}

.show-word-table-toggle-competition {
	margin-top: 48px;
}

.submitted-grammar-info {
	margin-top: 12px;
	height: 0;
	opacity: 0;
	overflow: hidden;
	transition: 0.2s ease;
	visibility: hidden;
	display: flex;
}

.submitted-grammar-info.is-active {
	height: 100%;
	opacity: 1;
	visibility: visible;
}

.submitted-grammar-info img {
	background: #fff;
	border-radius: 12px;
	padding: 4px;
	margin-right: 18px;
	width: 65px;
}

.submitted-grammar-info p {
	background: #fff;
	border-radius: 8px;
	color: #000;
	padding: 8px 12px;
	line-height: 1.5;
	margin: auto 0;
	text-align: center;
	width: auto;
	font-size: 15px;
}

.is-competitive-mode .submitted-grammar-info {
	border-top: 2px solid #1b2b63;
	margin-top: 0;
	padding: 24px 12px 0 12px;
}

.is-competitive-mode .submitted-grammar-info p {
	padding: 8px;
	width: 100%;
}

.valid-name-warning {
	display: none;
	color: #ffe7e8;
	text-align: center;
}

#vocab-submit-word-form {
	font-weight: 700;
	font-size: 1.2em;
}

#vocab-tester-wrapper.is-complete .celebration {
	display: block;
}

.has-begun-vocab-test #vocab-tester-wrapper {
	display: flex;
	align-items: stretch;
}

.has-begun-conjugation-test.is-competitive-mode #vocab-tester-wrapper.time-ended {
	align-items: flex-start;
}

.vocab-submit-buttons {
	display: flex;
	justify-content: center;
	margin-top: 18px;
}

.has-begun-conjugation-test .right-content {
	align-self: flex-start;
}

#vocab-tester-wrapper {
	justify-content: normal;
}

#vocab-tester-wrapper .progress-bar {
	border-radius: 8px;
	width: 100%;
	margin: 0;
}

#vocab-tester-wrapper .progress-bar .inner-progress {
	border-radius: inherit;
	height: inherit;
}

.select-verbs-wrapper h3,
.select-declensions-wrapper h3,
.has-begun-vocab-test:not( .is-displaying-flashcards ) .focus-on-wrapper,
.further-content h3 {
	background: #3b5087;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	box-shadow: 5px 0 #3b5087;
	margin: -12px;
	margin-bottom: 12px;
	padding: 14px;
}

.select-verbs-wrapper h3,
.select-declensions-wrapper h3,
.further-content h3 {
	padding: 16px;
}

.has-begun-vocab-test:not( .is-displaying-flashcards ) .focus-on-wrapper h3 {
	margin: 0;
	border-bottom: 1px solid white;
	padding-bottom: 8px;
	border-color: rgba( 255, 255, 255, 0.46 );
}

.flashcard-keyboard-shortcuts-guide {
	margin-top: 32px;
}

.flashcard-keyboard-shortcuts-guide li {
	letter-spacing: -0.2px;
}

.focus-on-wrapper p {
	font-size: 14px;
	margin: 0 2px;
	margin-top: 8px;
}

.progress-wrapper {
	display: flex;
	background: #3b5087;
	padding: 16px;
	margin: -12px;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	box-shadow: 5px 0 #3b5087;
	margin-bottom: 32px;
}

#vocab-tester-wrapper .left-content {
	flex: 1 0 400px;
	margin-right: 32px;
	width: auto;
}

.is-competitive-mode #vocab-tester-wrapper .left-content {
	min-width: 180px;
}

.is-displaying-word-table #vocab-tester-wrapper .left-content {
	min-width: 0;
}

.left-content,
#vocab-tester-wrapper .right-content,
.further-content {
	background: #445ea0;
	border-radius: 18px;
	box-shadow: 5px 5px #4d6bb7;
	color: #fff;
	padding: 12px;
}

#vocab-tester-wrapper .right-content {
	flex-shrink: 1;
	width: 100%;
	max-width: 100%;
	min-width: 0;
}

.further-content {
	display: none;
	flex-direction: column;
	margin-left: 32px;
	flex: 1 0 25%;
}

.further-content.is-active {
	display: flex;
}

.further-content table,
.further-content th,
.further-content td {
	border: 1px solid #fff;
	border-collapse: collapse;
	color: #fff;
	margin: auto;
	text-align: center;
}

.further-content td.is-highlighted {
	background-color: #ee6c4d;
	color: #fff;
}

.verb-table-settings {
	margin-bottom: 8px;
}

.noun-table,
.verb-tables,
.verb-table,
.subjunctive-verb-table-toggle.toggle {
	display: none;
}

.has-begun-declension-test .noun-table,
.has-begun-conjugation-test .verb-tables,
.verb-table.is-active {
	display: block;
}

.is-custom-list #vocab-selector .left-content {
	width: 35%;
}

.noun-table {
	margin: auto;
	overflow: scroll;
}

.noun-table tr td:first-of-type {
	width: 50px;
}

.verb-tables {
	margin: auto 0;
	margin-top: 12px;
}

.is-table-mode .further-content .verb-tables {
	margin: 0;
}

.further-content td {
	padding: 8px;
	font-size: 16px;
}

.further-content th {
	padding: 8px;
}

.further-content .noun-table td {
	padding: 12px 16px;
}

.further-content .noun-table tr:first-of-type th {
	font-size: 15px;
}

.further-content table p {
	font-weight: normal;
}

.further-content td:first-of-type,
.further-content th {
	font-weight: 600;
}

.further-content #other-verbs-table td {
	font-weight: normal;
}

.further-content #other-verbs-table table {
	margin-bottom: 32px;
}

.show-enhanced-verb-table-prompt {
	cursor: pointer;
	display: none;
	margin-top: 24px;
	text-align: right;
	text-decoration: underline;
	font-size: 15px;
	letter-spacing: -0.1px;
}

.has-begun-conjugation-test .show-enhanced-verb-table-prompt {
	display: block;
}

.word-table-select-wrapper.toggle {
	margin-top: 18px;
}

.verb-table-select-wrapper.toggle {
	margin-top: 0;
	margin-bottom: 18px;
}

.verb-table {
	overflow-x: auto;
}

.verb-table p {
	text-align: center;
	font-size: 16px;
	font-weight: 600;
}

.verb-table input {
	border: 0;
	border-radius: 2px;
	padding: 4px;
	display: none;
	margin: auto;
}

.table-mode-prompt {
	display: none;
}

.further-content .verb-table p {
	font-weight: normal;
	margin: 0;
}

.further-content .verb-table .verb-table-title {
	margin-bottom: 18px;
}

.verb-tables-heading {
	display: none;
}

.word-table-select-wrapper p {
	margin: auto 12px auto 0;
	font-size: 14px;
}

.word-table-select-wrapper select {
	font-size: 14px;
	width: 160px;
}

.verb-table-select-wrapper select {
	width: 240px;
}

.verb-selection-toggle {
	display: flex;
}

.verb-selection-toggle p {
	margin: auto;
}

.verb-selection-toggle .dropdown {
	cursor: pointer;
	width: 32px;
}

#vocab-question {
	font-size: 2.3em;
	margin: 0;
	margin-bottom: 9px;
}

#vocab-question-details,
#vocab-question-table-mode-details {
	margin: 0;
	font-size: 1.1em;
	border-bottom: 1px solid #fff;
	padding-bottom: 12px;
}

#vocab-question-table-mode-details,
#vocab-tester-wrapper.is-complete #vocab-tester,
#vocab-tester-wrapper,
.has-begun-vocab-test #vocab-selector {
	display: none;
}

.is-table-mode #vocab-question-table-mode {
	font-size: 26px;
	margin-bottom: 12px;
}

.is-table-mode #vocab-question-table-mode-details {
	font-size: 15px;
	text-align: center;
}

.verb-tables .verb-table .table-mode-prompt {
	margin: 14px 0;
	font-size: 15px;
}

.confetti {
	text-align: center;
}

.wrong-vocab-list {
	max-height: 250px;
	overflow-y: scroll;
}

.is-displaying-flashcards .wrong-vocab-list {
	max-height: 210px;
}

.options-wrapper {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.option-button {
	background: #fff;
	padding: 48px;
	margin-left: 48px;
	border: 0;
	border-radius: 64px;
	cursor: pointer;
	box-shadow: 2px 3px #f5eeee;
	margin-bottom: 24px;
	outline: none;
}

.option-button p {
	color: #000;
	text-align: center;
}

.option-button:focus {
	outline: 1px auto #445ea0;
}

.option-button:hover {
	transform: scale( 1.1 );
}

.option-button img {
	display: flex;
	height: 180px;
	margin: auto;
}

.compact-options .option-button {
	border-radius: 6px;
	display: flex;
	padding: 8px 14px;
}

.compact-options .option-button img {
	height: 85px;
	margin-right: 12px;
}

.compact-options .option-button p {
	margin: auto;
}

.option-button.is-inactive {
	pointer-events: none;
	opacity: 0.7;
}

.curtain {
	-webkit-animation: curtain 1.4s infinite;
	animation: curtain 1.4s infinite;
	background: #ee6c4d;
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 9;
}

.curtain.is-not-triggered {
	display: none;
}

.curtain.is-triggered {
	-webkit-animation: curtain 2.3s forwards;
	animation: curtain 2.3s forwards;
}

.complete-actions {
	display: flex;
	justify-content: center;
	margin-top: 28px;
}

@keyframes curtain {
	0% {
		transform: none;
	}
	100% {
		transform: translateY( -100% );
	}
}

@keyframes pulse {
	0% {
		transform: scale( 0.95 );
		box-shadow: 0 0 0 0 rgba( 238, 108, 77, 0.7 );
	}

	70% {
		transform: scale( 1 );
		box-shadow: 0 0 0 10px rgba( 0, 0, 0, 0 );
	}

	100% {
		transform: scale( 0.95 );
		box-shadow: 0 0 0 0 rgba( 0, 0, 0, 0 );
	}
}

@keyframes pulse-orange {
	0% {
		transform: scale( 0.95 );
		box-shadow: 0 0 0 0 rgb( 238 108 77 / 0.7 );
		margin-top: -2px;
	}

	70% {
		transform: scale( 1 );
		box-shadow: 0 0 0 8px rgba( 0, 0, 0, 0 );
	}

	100% {
		transform: scale( 0.95 );
		box-shadow: 0 0 0 0 rgba( 0, 0, 0, 0 );
		margin-top: -2px;
	}
}

.test-settings-wrapper p {
	font-size: 13px;
}

.test-settings-wrapper h3 {
	margin: 8px 0;
}

.toggle-settings-text {
	margin: auto 0;
}

.test-settings-wrapper .toggle {
	border: 1px solid white;
	padding: 8px 6px;
	border-color: rgba( 255, 255, 255, 0.46 );
	margin-bottom: 12px;
	padding-left: 12px;
	border-radius: 12px;
}

.test-settings-wrapper .toggle.hard-difficulty {
	margin-top: 12px;
}

.test-settings-wrapper .toggle p {
	margin: auto 0;
}

.test-settings-wrapper .toggle-settings-header {
	font-weight: 600;
	font-size: 11px;
	padding-bottom: 4px;
}

.settings-test-limit {
	display: flex;
}

.settings-test-limit select {
	display: none;
	height: 25px;
	margin: auto 8px;
}

.upload-custom-file-link {
	text-align: right;
}

.upload-custom-file-link a {
	cursor: pointer;
	font-size: 13px;
	margin-right: 6px;
	text-decoration: underline;
}

.practise-declensions-link {
	flex: 1;
	margin: auto;
}

.close-settings {
	display: none;
	text-align: right;
	font-size: 14px;
}

.loading-screen .progress-bar {
	display: block;
}

.toggle {
	display: flex;
	margin: auto;
	justify-content: space-between;
}

.toggle input {
	margin: auto 0;
}

.max-word-prompt {
	display: none;
	margin-bottom: 12px;
}

.configure-values {
	align-items: center;
	display: flex;
	justify-content: center;
}

.configure-values input {
	margin: 4px;
	width: 30px;
}

.modal-wrapper {
	background: rgba( 0, 0, 0, 0.35 );
	display: none;
	overflow: scroll;
	padding-top: 50px;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 10;
}

.modal-content {
	background: #fff;
	border-radius: 6px;
	padding: 20px;
	margin: auto;
	margin-bottom: 80px;
	width: 80%;
}

.modal-content h3 {
	border-bottom: 1px solid #50575e;
	font-size: 24px;
	margin: 0;
	padding-bottom: 14px;
	text-align: center;
}

.modal-content .close-icon {
	bottom: 12px;
	cursor: pointer;
	display: flex;
	margin: auto 0 -36px auto;
	position: relative;
	height: 36px;
	width: 36px;
}

.modal-content .close-icon:hover {
	transform: scale( 1.1 );
}

.modal-wrapper.games-modal {
	background: rgba( 0, 0, 0, 0.15 );
	display: none;
	padding-top: 0;
}

.modal-wrapper.games-modal .modal-content {
	margin: auto;
	width: 50%;
}

.modal-wrapper.games-modal .modal-content h3 {
	border: 0;
	padding: 0;
}

.modal-wrapper.warning-modal {
	background: rgba( 0, 0, 0, 0.55 );
}

.modal-wrapper.warning-modal .modal-content {
	background: #3b5087;
	color: #fff;
	margin: auto;
	max-width: 450px;
	width: 80%;
	border: 2px solid #121c40;
	border-radius: 18px;
	position: relative;
	bottom: 15px;
}

.modal-wrapper.about-modal .modal-content {
	margin: auto;
	max-width: 750px;
	width: 80%;
	position: relative;
	bottom: 25px;
}

.modal-wrapper.warning-modal .modal-content img {
	-webkit-filter: invert( 100% );
	filter: invert( 100% );
}

.modal-wrapper.warning-modal .modal-content h3 {
	border-color: #fff;
}

.modal-wrapper.warning-modal .modal-content p {
	display: none;
	letter-spacing: 0.2px;
	line-height: 1.5;
	margin: 24px 0;
}

.has-begun-vocab-test:not( .has-begun-conjugation-test ):not( .is-displaying-flashcards )
	.warning-modal
	.vocab-warning-text,
.is-displaying-flashcards .warning-modal .modal-content .flashcards-warning-text,
.is-table-mode .warning-modal .modal-content .verb-warning-text {
	display: block;
}

.warning-actions {
	display: flex;
	justify-content: center;
}

.about-me {
	display: flex;
	align-items: center;
}

.about-modal .modal-content h3 {
	border-bottom: 0;
	text-align: left;
}

.about-links {
	display: flex;
	font-size: 14px;
	margin: 18px 0;
}

.about-links p {
	margin: 0;
}

.open-source {
	font-size: 12px;
	text-align: right;
	transform: skew( -2deg, 0deg );
}

.about-title span {
	font-size: 11px;
	margin-left: 18px;
	position: relative;
	bottom: 8px;
}

.about-links svg {
	margin: auto 4px;
	margin-right: 12px;
}

.about-links a {
	color: #3c434a;
	cursor: pointer;
	font-size: 12px;
}

.about-signature {
	text-align: right;
	transform: skew( -4deg, 0deg );
	margin-top: 9px;
	font-size: 14px;
}

.left-about-me {
	margin-right: 24px;
	color: #2c3338;
	letter-spacing: -0.1px;
	font-size: 15px;
	line-height: 1.3;
}

.left-about-me .about-greeting {
	font-size: 18px;
	font-weight: 600;
}

.gravatar {
	text-align: center;
	margin-bottom: 12px;
}

.gravatar img {
	height: 120px;
	border-radius: 99px;
	border: 2px solid #000;
}

.game-wrapper {
	border: 1px solid #dcdcde;
	display: flex;
	flex-direction: column;
	margin-right: 14px;
	background: #f6f7f7;
	padding: 8px;
	padding-top: 0;
	border-radius: 14px;
	margin-top: 16px;
	align-items: center;
}

.game-wrapper img {
	max-width: 100%;
	align-self: flex-start;
	height: auto;
}

.word-games {
	display: flex;
}

.game-title {
	text-align: center;
	font-size: 14px;
	margin-bottom: 8px;
	font-weight: 500;
}

.game-description {
	font-size: 12px;
	text-align: center;
	color: #3c434a;
}

.game-description-wrapper {
	display: flex;
	flex-direction: column;
}

.game-description-wrapper .game-link {
	color: #1d2327;
	cursor: pointer;
	margin: auto;
	font-size: 14px;
	font-weight: 500;
	margin-bottom: 8px;
}

.game-subnote {
	margin: 0;
	margin-top: 20px;
	text-align: center;
	font-size: 14px;
}

.vocabulary-selection-table th {
	text-align: left;
}

.vocabulary-selection-table {
	background: #fff;
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

.vocabulary-selection-table-heading {
	display: flex;
}

.vocabulary-selection-table-heading p {
	margin: auto 0;
}

.vocabulary-selection-table-heading .dropdown {
	cursor: pointer;
	height: 24px;
	width: 24px;
}

.vocabulary-selection-table td,
.vocabulary-selection-table th {
	border: 1px solid #ddd;
	padding: 8px;
}

.vocabulary-selection-table tr:nth-child( even ) {
	background-color: #f6f7f7;
}

.vocabulary-selection-table th {
	background-color: #ee6c4d;
	color: white;
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	width: 40%;
}

.vocabulary-selection-table th:nth-of-type( 2 ) {
	width: 15%;
}

.vocabulary-selection-table th:nth-of-type( 3 ) {
	border-right: 0;
}

.vocabulary-selection-table th:last-of-type {
	border: 0;
	width: 5%;
}

.vocabulary-selection-table td:last-of-type {
	text-align: center;
}

.advanced-mode {
	display: none;
}

.advanced-mode p {
	font-size: 13px;
	margin-top: 8px;
}

.advanced-mode h3 {
	margin-bottom: 0;
}

.is-advanced-mode:not( .is-competitive-mode ) .advanced-mode,
.is-advanced-mode:not( .is-competitive-mode ) .customlistlink {
	display: block;
}

.trash-icon {
	background-image: url( './assets/trash.svg' );
	cursor: pointer;
	height: 24px;
	margin: auto;
	width: 24px;
}

.trash-icon:hover {
	background-image: url( './assets/trash-red.svg' );
}

.custom-category {
	display: flex;
}

.custom-category .trash-icon {
	margin-right: 8px;
}

.vocab-flashcards-wrapper,
.is-displaying-flashcards .vocab-tester-wrapper,
.is-displaying-flashcards #no-words-wrong,
.flashcard-settings {
	display: none;
}

.is-displaying-flashcards .flashcard-settings {
	display: block;
	margin-bottom: 32px;
}

.is-displaying-flashcards .wrong-vocab-list a {
	cursor: pointer;
}

.is-displaying-flashcards .vocab-flashcards-wrapper {
	display: flex;
	flex-direction: column;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.is-displaying-flashcards #vocab-tester-wrapper .left-content {
	font-size: 14px;
	text-align: left;
}

.flashcard-container,
.front-flashcard,
.back-flashcard {
	width: 600px;
	height: 350px;
	cursor: pointer;
}

.front-flashcard,
.back-flashcard {
	background: #fff;
	border-radius: 4px;
	box-shadow: 0 16px 32px rgba( 0, 0, 0, 0.25 );
	color: black;
	text-align: center;
	font-size: 32px;
}

.flashcard-container {
	position: relative;
	margin: auto;
}
.front-flashcard,
.back-flashcard {
	display: flex;
	padding: 0 24px;
	position: absolute;
	top: 0;
	left: 0;
	backface-visibility: hidden;
	overflow: hidden;
	transition: transform 0.8s ease;
}

.flashcard-container p {
	margin: auto;
}

.front-flashcard {
	border-bottom: 4px solid #d66043;
}
.back-flashcard {
	transform: rotateY( 180deg );
}
.flashcard-container.is-flipped .front-flashcard {
	transform: rotateY( -180deg );
}
.flashcard-container.is-flipped .back-flashcard {
	transform: rotateY( 0deg );
}

.flashcard-settings-wrapper {
	display: flex;
	margin: 52px 14px 0;
}

.previous-list-flashcard-message {
	display: none;
	margin-top: 52px;
	font-size: 18px;
	text-align: center;
}

.previous-list-flashcard-message a {
	cursor: pointer;
	text-decoration: underline;
}

.vocab-flashcards-wrapper.is-saved-flashcard .previous-list-flashcard-message {
	display: block;
}

.vocab-flashcards-wrapper.is-saved-flashcard .flashcard-settings-wrapper {
	display: none;
}

.flashcard-counter {
	margin: auto 0;
}

.flashcard-arrows {
	margin-left: auto;
}

.flashcard-option-button {
	width: 32px;
	height: 32px;
	fill: #000;
	background: #fff;
	border-radius: 50%;
	margin-left: 14px;
	display: inline-block;
	cursor: pointer;
}

.flashcard-option-button.is-inactive {
	opacity: 0.4;
	pointer-events: none;
}

.flashcard-option-button:hover {
	background: #d7d7d7;
}

.flashcard-star-button {
	align-self: flex-end;
	cursor: pointer;
	height: 45px;
}

.flashcard-star-button svg {
	height: 42px;
	width: 42px;
	fill: #f0c930;
}

.flashcard-star-button.is-filled .star-gridicon,
.filled-star-gridicon {
	display: none;
}

.flashcard-star-button.is-filled .filled-star-gridicon {
	display: block;
}

.clear-sidebar-prompt-wrapper {
	display: none;
	margin: auto;
	text-align: center;
}

.flashcard-keyboard-shortcuts-guide.is-inactive {
	display: none;
}

.flashcard-links {
	cursor: pointer;
	display: flex;
	font-size: 12px;
	justify-content: space-evenly;
	margin-top: 18px;
	text-align: right;
	text-decoration: underline;
}

.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
	margin-top: auto;
	margin-bottom: auto;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	border-radius: 34px;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.slider:before,
.slider:after {
	border-radius: 50%;
	position: absolute;
	content: '';
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: #fff;
}

input:checked + .slider:before,
input:checked + .slider:after {
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

input:checked + .slider {
	background-color: #ee6c4d;
}

input:focus + .slider {
	box-shadow: 0 0 1px #ee6c4d;
}

input:checked + .slider:before,
input:checked + .slider:after {
	left: calc( 100% - 30px );
}

.table-mode-menu {
	display: none;
	flex-direction: column;
	border: 1px solid #fff;
	border-radius: 4px;
	border-bottom: 0;
}

.verb-table-option-button {
	text-align: left;
	background: 0;
	border: 0;
	color: #fff;
	cursor: pointer;
	padding: 13px;
	border-bottom: 1px solid #fff;
}

.verb-table-option-button:focus {
	outline: none;
}

.verb-table-option-button.is-selected {
	background: #ee6c4d;
	color: #fff;
	pointer-events: none;
}

.verb-table-option-button:first-of-type.is-selected {
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}

.verb-table-option-button:last-of-type.is-selected {
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

button.verb-table-option-button:hover {
	transform: none;
}

#vocab-question-table-mode {
	display: none;
	font-size: 2em;
	font-weight: 600;
	margin: 6px 0;
	text-align: center;
}

.table-mode-options {
	display: none;
	justify-content: flex-end;
	margin-top: 18px;
}

.table-mode-options a {
	cursor: pointer;
	margin-left: 24px;
	text-decoration: underline;
}

.table-mode-options a:first-of-type {
	margin: auto;
	margin-left: 8px;
}

.table-mode-options button.table-mode-button:not( .option-button ) {
	width: auto;
	font-size: 14px;
	padding: 8px;
	margin: 0;
	margin-right: 16px;
	border-radius: 6px;
	box-shadow: 0 4px 8px rgba( 0, 0, 0, 0.2 );
}

.is-table-mode .verb-table-title,
.is-table-mode .right-content,
.is-table-mode .select-verbs,
.is-table-mode .verb-table-settings-inner,
.is-table-mode .word-table-select-wrapper,
.is-table-mode .show-enhanced-verb-table-prompt {
	display: none;
}

.is-table-mode .table-mode-menu,
.is-table-mode .table-mode-options {
	display: flex;
}

.is-table-mode .further-content {
	margin-right: 48px;
	width: 100%;
}

.is-table-mode .left-content {
	max-width: 20%;
}

.is-table-mode .verb-table input,
.is-table-mode #vocab-question-table-mode,
.is-table-mode #vocab-question-table-mode-details,
.is-table-mode .table-mode-prompt {
	display: block;
}

.is-table-mode .verb-table table p {
	display: none;
}

.is-table-mode .verb-table.is-marked table p {
	display: block;
	margin: 0;
	letter-spacing: -0.2px;
}

.is-table-mode .further-content td.is-highlighted {
	background: inherit;
}

.is-table-mode .further-content td.answer-correct {
	background: #008a00;
}

.is-table-mode .further-content td.answer-incorrect {
	background: #d63639;
	justify-content: space-between;
	padding: 12px 8px;
}

.is-table-mode .verb-table td {
	min-width: 210px;
}

.is-table-mode .verb-table td:first-of-type {
	min-width: 0;
	width: 45px;
}

.is-table-mode .further-content td.answer-incorrect p {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.is-table-mode .further-content td.answer-incorrect span:first-of-type {
	margin-bottom: 12px;
	font-size: 11px;
	margin: auto;
	margin-right: 6px;
	margin-left: 0;
	text-align: left;
}

.is-table-mode .verb-table tr:first-of-type td:first-of-type,
.is-table-mode .verb-table tr:nth-of-type( 5 ) td:first-of-type {
	font-size: 14px;
	padding: 8px 0;
}

.is-table-mode .verb-table.is-marked input {
	display: none;
}

.is-displaying-enhanced-word-table .verb-tables {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.is-displaying-enhanced-word-table .further-content {
	display: flex !important;
	flex-direction: column-reverse;
	width: 80%;
	margin: auto;
	margin-bottom: 40px;
}

.is-displaying-enhanced-word-table .word-table-select-wrapper select {
	width: auto;
}

.is-displaying-enhanced-word-table h3 {
	display: none;
}

.is-displaying-enhanced-word-table .left-content,
.is-displaying-enhanced-word-table.is-competitive-mode
	#vocab-tester-wrapper.main-content
	.left-content,
.is-displaying-enhanced-word-table .right-content {
	display: none;
}

.is-displaying-enhanced-word-table .further-content table {
	min-width: 0;
	margin-right: 24px;
	margin-bottom: 18px;
}

.is-displaying-enhanced-word-table .further-content table th,
.is-displaying-enhanced-word-table .further-content table td {
	border-color: rgba( 255, 255, 255, 0.46 );
}

.is-displaying-enhanced-word-table #other-verbs-table {
	display: flex;
	flex-direction: column;
	margin-left: 32px;
}

.is-displaying-enhanced-word-table #other-verbs-table table {
	margin: 12px auto;
}

.is-displaying-enhanced-word-table .verb-table-settings {
	display: flex;
	flex-direction: column-reverse;
}

.is-displaying-enhanced-word-table .word-table-select-wrapper.toggle {
	margin: auto 0;
}

.is-displaying-enhanced-word-table .declension-return-to-test-prompt {
	display: block;
	font-size: 24px;
	margin: auto;
	margin-right: 0;
}

.is-displaying-enhanced-word-table .verb-table-select-wrapper.toggle,
.is-displaying-enhanced-word-table .show-enhanced-verb-table-prompt {
	display: none;
}

.is-displaying-enhanced-word-table .verb-table {
	display: block;
}

.is-displaying-enhanced-word-table .toggle {
	font-size: 14px;
	margin: 0;
	justify-content: end;
}

.is-displaying-enhanced-word-table .verb-table-settings-inner {
	display: flex;
	flex-wrap: wrap;
}

.is-displaying-enhanced-word-table .verb-table.suj,
.is-displaying-enhanced-word-table .is-displaying-subjunctives .verb-table:not( .suj ),
.is-displaying-enhanced-word-table .is-displaying-subjunctives #other-verbs-table {
	display: none;
}

.is-displaying-enhanced-word-table .is-displaying-subjunctives .verb-table.suj {
	display: block;
}

.is-displaying-enhanced-word-table .subjunctive-verb-table-toggle {
	display: flex;
	font-weight: 600;
	margin: auto 0;
	margin-left: 16px;
}

.is-displaying-enhanced-word-table .subjunctive-verb-table-toggle input {
	margin-top: 0;
	margin-left: 8px;
}

.is-displaying-enhanced-word-table .verb-tables-heading {
	display: block;
	font-weight: 600;
	font-size: 34px;
	margin: auto;
	margin-top: 8px;
}

.is-displaying-enhanced-word-table .further-content .verb-table .verb-table-title {
	font-size: 14px;
	margin-bottom: 8px;
	font-weight: 500;
}

@media only screen and ( max-width: 1800px ) {
	.toggle input:checked + .slider:before {
		display: none;
	}
}

@media only screen and ( max-width: 1290px ) {
	#vocab-tester-wrapper .left-content {
		flex: 1 0 250px;
	}

	.is-table-mode .verb-table td {
		min-width: 210px;
	}

	.noun-types {
		margin-right: 0;
	}

	#vocab-tester-wrapper {
		align-items: flex-start;
		flex-direction: column-reverse;
	}

	#vocab-tester-wrapper .left-content,
	#vocab-tester-wrapper .right-content,
	.further-content {
		margin: auto;
		margin-bottom: 32px;
		text-align: center;
		min-width: calc( 100% - 48px ) !important;
		width: calc( 100% - 48px ) !important;
	}

	.right-content {
		order: 1;
	}
}

@media only screen and ( max-width: 1200px ) and ( min-width: 600px ) {
	.is-displaying-word-table .right-content {
		display: none;
	}

	.is-competitive-mode #vocab-tester-wrapper .left-content {
		font-size: 14px;
	}

	.further-content {
		align-self: flex-start;
		margin-left: 0;
		width: 100%;
	}

	.test-settings-wrapper .toggle {
		flex-direction: column;
	}

	.switch {
		margin: auto;
		margin-top: 8px;
	}

	.verb-table input {
		width: 100px;
	}

	.is-table-mode .further-content td.answer-incorrect p {
		flex-direction: column-reverse;
	}

	.declension-return-to-test-prompt {
		display: block;
	}

	.is-table-mode .declension-return-to-test-prompt {
		display: none;
	}

	#vocab-tester-wrapper .right-content {
		align-self: flex-start;
	}

	.word-table-select-wrapper select {
		width: 50%;
	}
}

@media only screen and ( max-width: 1024px ) {
	.option-button {
		border-radius: 6px;
		margin-left: 12px;
		padding: 14px 24px;
	}

	.option-button img {
		max-width: 50%;
	}

	.is-table-mode .verb-table td:first-of-type {
		min-width: 0;
	}

	#vocab-question {
		font-size: 28px;
	}

	.vocab-submit-answer-wrapper {
		margin: 0 30px;
	}

	.modal-wrapper.games-modal .modal-content {
		width: 80%;
	}

	.about-me {
		flex-direction: column;
	}

	.right-content .literature-vocabulary {
		flex-wrap: nowrap;
	}

	.literature-vocabulary .row-wrapper {
		margin-right: 14px;
	}

	.literature-vocabulary .button-group {
		flex-wrap: wrap;
	}

	.literature-vocabulary .button-group .vocab-type:last-of-type.has-selected {
		border-radius: 0;
		border-bottom-right-radius: 12px;
		border-bottom-left-radius: 12px;
	}

	.literature-vocabulary .button-group .vocab-type:first-of-type.has-selected {
		border-radius: 0;
		border-top-left-radius: 12px;
		border-top-right-radius: 12px;
	}

	.is-literature .john-taylor-vocabulary {
		flex-direction: column;
	}

	.john-taylor-vocabulary .literature-heading {
		width: auto;
	}

	.flashcard-container,
	.front-flashcard,
	.back-flashcard {
		width: 80%;
	}

	.footer a,
	.view-games-link {
		font-size: 14px;
		padding: 8px 12px;
	}

	.dummy-link.view-games-link {
		display: none;
	}
}

@media only screen and ( max-width: 600px ) {
	body {
		background-attachment: scroll;
	}

	#vocab-selector .left-content {
		width: auto;
		max-width: calc( 100% - 24px );
		margin: 0;
	}

	.select-all-option-mobile {
		display: block;
		position: absolute;
		right: 0;
		margin-right: 4px;
		margin-top: -20px;
	}

	.practise-prompt {
		font-size: 16px;
		margin-left: 0;
	}

	.select-all-option:last-of-type {
		margin-bottom: 12px;
	}

	.gravatar {
		display: none;
	}

	.options-menu {
		align-items: flex-start;
	}

	.options-menu .practise-options {
		flex-direction: column;
		margin-left: 0;
	}

	.options-menu .practise-options a {
		animation: none;
		border-radius: 0;
	}

	.options-menu .practise-options a:first-of-type {
		border-bottom: 1px solid #d66043;
	}

	.options-menu a {
		margin-right: 4px;
		font-size: 12px;
	}

	.introductary-text {
		display: none;
	}

	.main-content {
		align-items: center;
		flex-direction: column-reverse;
		flex-wrap: wrap;
	}

	.option-button {
		margin-left: 0;
	}

	.option-button img {
		height: 50px;
	}

	.options-wrapper.compact-options .option-button {
		width: 100%;
	}

	.progress-indicator {
		margin: auto;
	}

	.has-begun-vocab-test #vocab-tester-wrapper {
		flex-direction: column-reverse;
	}

	.is-competitive-mode .main-content {
		align-items: stretch;
		margin-bottom: 120px;
	}

	#vocab-tester-wrapper {
		margin-right: 0;
		margin-left: 0;
		flex-wrap: wrap;
	}

	#vocab-question-table-mode {
		font-size: 24px;
	}

	#vocab-tester-wrapper .right-content,
	.further-content {
		margin-bottom: 32px;
	}

	.further-content table {
		min-width: 0;
		font-size: 12px;
	}

	.vocabulary-selection-table {
		font-size: 12px;
	}

	.modal-content .close-icon {
		transform: none;
	}

	.is-table-mode .further-content td.answer-incorrect p {
		flex-direction: column-reverse;
	}

	.is-table-mode .further-content td.answer-incorrect span {
		margin-top: 6px;
	}

	.is-table-mode .further-content,
	.is-table-mode .left-content {
		margin-right: auto;
		margin-left: auto;
		width: 80%;
	}

	.is-displaying-enhanced-word-table .declension-return-to-test-prompt {
		margin-top: 18px;
		margin-bottom: 24px;
	}

	.is-displaying-enhanced-word-table .word-table-select-wrapper select {
		width: 120px;
	}

	.subjunctive-verb-table-toggle.toggle {
		margin-left: 0;
	}

	.word-table-select-wrapper select {
		width: 50%;
	}

	.options-menu .quick-links {
		margin-left: 12px;
	}

	.footer-collapse {
		bottom: 70px;
	}

	.footer a {
		padding: 8px 6px;
	}

	.footer-items {
		margin-left: 12px;
	}

	.footer .view-games-link a {
		background: inherit;
		box-shadow: none;
		padding: 0;
		border: 0;
		text-align: center;
		font-size: 14px;
	}
}

@media only screen and ( max-width: 480px ) {
	.heading h1 {
		font-size: 28px;
	}

	.options-menu a {
		border-radius: 0;
		font-size: 10px;
		margin-right: 2px;
	}

	.submitted-grammar-info img {
		display: none;
	}

	.view-games-link {
		display: none;
	}

	.footer-items {
		margin: auto;
	}
}
