html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
}
body {
	margin: 0;
}
main {
	display: block;
}
h1 {
	font-size: 2em;
	margin: 0.67em 0;
}
hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}
pre {
	font-family: monospace, monospace;
	font-size: 1em;
}
a {
	background-color: transparent;
	text-decoration: none;
}
abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	text-decoration: underline dotted;
}
b,
strong {
	font-weight: bolder;
}
code,
kbd,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}
small {
	font-size: 80%;
}
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sub {
	bottom: -0.25em;
}
sup {
	top: -0.5em;
}
img {
	border-style: none;
}
button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}
button,
input {
	overflow: visible;
}
button,
select {
	text-transform: none;
}
button,
[type='button'],
[type='reset'],
[type='submit'] {
	-webkit-appearance: button;
}
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
	border-style: none;
	padding: 0;
}
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
	outline: 1px dotted ButtonText;
}
fieldset {
	padding: 0.35em 0.75em 0.625em;
}
legend {
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}
progress {
	vertical-align: baseline;
}
textarea {
	overflow: auto;
}
[type='checkbox'],
[type='radio'] {
	box-sizing: border-box;
	padding: 0;
}
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
	height: auto;
}
[type='search'] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}
[type='search']::-webkit-search-decoration {
	-webkit-appearance: none;
}
::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}
details {
	display: block;
}
summary {
	display: list-item;
}
template {
	display: none;
}
[hidden] {
	display: none;
}

/* Styles start from here */
body {
	background-color: #f0f4ff;
	background-image: url( './assets/arena.jpg' );
	background-size: cover;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	margin: 0;
}

button:focus,
[type='submit'] {
	outline: none;
}

button:focus,
input:focus {
	outline: 1px auto #005fcc;
}

button:not( .vocab-type ),
[type='submit'] {
	background: #dacafa;
	border-color: #efe7ff #d3c2f7 #c1a2ff;
	cursor: pointer;
	outline: none;
	font-family: 'Roboto', sans-serif;
	border-width: 6px 12px 15px;
	border-style: solid;
	margin: 12px;
	color: #2d2a2a;
	box-shadow: 0 18px 26px rgba( 0, 0, 0, 0.1 );
	padding: 0 24px;
	font-size: 18px;
}

button:not( .vocab-type ):hover,
[type='submit']:hover {
	transform: scale( 1.06 );
}

button.has-selected {
	background: #e0ceb9;
}

button.vocab-type:focus {
	outline: none;
}

button.has-selected:hover {
	transform: none;
}

h3 {
	font-size: 1.2em;
}

li {
	margin-bottom: 8px;
}

.loading-screen {
	background: #ee6c4d;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 99999;
}

.loading-screen-wrapper {
	top: 40%;
	right: 50%;
	transform: translate( 50%, -50% );
	position: absolute;
	display: flex;
	flex-direction: column-reverse;
}

.loading-screen-wrapper img {
	width: 200px;
	background: #ec5c39;
	padding: 12px;
	border-radius: 42px;
	margin: 52px;
}

.loading-screen .progress-bar {
	max-width: 300px;
	right: 50%;
	border: 2px solid #1d395d;
	border-radius: 14px;
	transform: translateX( 50% );
	position: absolute;
	width: 100%;
}

.loading-screen .progress-bar .inner-progress {
	background: #3d5a80;
	transition: width 1.2s ease;
	animation: width-animation 1.2s;
	border-radius: 14px;
	width: 100%;
}

@keyframes width-animation {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}

.row-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
}

.row-wrapper.is-collapsed {
	justify-content: flex-start;
}

.row-wrapper.is-collapsed .dropdown {
	-webkit-transform: rotate( 180deg );
	transform: rotate( 180deg );
}

.row-wrapper.is-collapsed .vocab-type {
	display: none;
}

.row-wrapper.is-collapsed .button-group {
	max-height: 0;
}

.is-gcseocr .miscellaneous-nouns,
.is-gcseocr .rare-verbs .vocab-type:nth-child( 4 ) {
	display: none;
}

.row-header {
	padding: 0;
	margin: 0;
	flex-shrink: 1;
	border: 0;
	box-shadow: none;
	background: #e9eaf1;
	border-bottom: #445ea0 2px solid;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	font-size: 14px;
	width: 200px;
	display: flex;
}

.row-header .dropdown {
	cursor: pointer;
	height: 34px;
	margin: auto 0;
}

.row-header p {
	margin-left: 16px;
}

.reveal-answer-button,
.start-declension-test-button,
.leaderboard-button {
	background: #facad7;
	border-color: #ffe7e8 #f7c2d6 #e89f9f;
	outline-color: #993359;
}

.submit-answer-button {
	background: #c9eec7;
	border-color: #b9deb7 #cae4c9 #a4c1a2;
	outline-color: #288c21;
}

.start-vocabulary-test-button {
	background: #e2d3ff;
	border-color: #c9bce2 #c2b1e6 #bf9fff;
	outline-color: #6a4ca7;
}

.vocab-type {
	background: 0;
	border: 0;
	text-align: left;
	width: 100%;
	cursor: pointer;
	line-height: normal;
	flex-grow: 1;
}

.vocab-type:last-of-type.has-selected {
	border-bottom-left-radius: 18px;
	border-bottom-right-radius: 18px;
}

.vocab-type p {
	margin-left: 12px;
}

.starting-warning,
.start-declensions-warning {
	display: none;
	color: #ffe7e8;
	text-align: center;
	font-weight: 600;
}

.start-button-wrapper.is-inactive {
	opacity: 0.7;
}

.start-button-wrapper.is-inactive button {
	pointer-events: none;
}

.start-button-wrapper.is-inactive img {
	pointer-events: none;
	animation: none;
}

.start-button-wrapper.is-inactive:hover + .starting-warning {
	display: block;
}

.start-button-wrapper {
	text-align: center;
}

.start-button-wrapper img {
	height: 80px;
	background: white;
	padding: 12px 24px;
	border-radius: 12px;
	cursor: pointer;
	animation: pulse 1.6s infinite;
}

.start-button-wrapper:not( .is-inactive ):hover img {
	transform: scale( 1.2 );
}

.file-upload {
	font-size: 14px;
}

.file-upload input {
	margin: 0 12px;
	max-width: 100%;
}

.options-menu {
	display: flex;
	justify-content: flex-end;
}

.options-menu a {
	cursor: pointer;
	margin-right: 24px;
	background: #c1ceef;
	padding: 8px;
	font-size: 14px;
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
}

.options-menu a:hover {
	text-decoration: none;
}

.options-menu .practise-options {
	display: flex;
	margin: auto;
	margin-left: 18px;
}

.options-menu .practise-options a {
	margin-right: 8px;
}

.options-menu .practise-options a,
.has-begun-vocab-test .options-menu a {
	background: #ee6c4d;
	color: #fff;
}

.select-all-option {
	cursor: pointer;
	margin-top: 14px;
	background: white;
	display: inline-block;
	float: right;
	padding: 8px 12px;
	border-radius: 8px;
}

.select-all-option-mobile {
	margin-bottom: 14px;
	margin-top: 0;
	display: none;
	text-align: right;
	margin-right: 32px;
}

.is-alevelocr .alevelocrlink,
.is-gcseeduqas .gcseeduqaslink,
.is-gcseocr .gcseocrlink {
	background: #1b2b63;
	color: white;
}

.stages,
.is-gcseeduqas .categories {
	display: none;
}

.is-gcseeduqas .stages {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.stages button {
	padding: 0 18px;
}

.stages .row-1 .vocab-type {
	line-height: 0.5;
}

.top-footer-toggle {
	background: #ee6c4d;
	border-top-right-radius: 12px;
	border-bottom-right-radius: 12px;
	box-shadow: 2px 2px #756865;
	cursor: pointer;
	display: none;
	height: 30px;
	position: fixed;
	width: 28px;
	left: 0;
	top: 0;
	z-index: 3;
}

.footer {
	display: flex;
	position: fixed;
	bottom: 0;
	width: 100%;
	background: #ee6c4d;
	overflow: hidden;
}

.hide-footer .footer {
	display: none;
}

.hide-footer .top-footer-toggle {
	display: block;
}

.footer-links {
	align-items: center;
	display: flex;
	margin: auto;
	margin-left: 12px;
}

.footer-links a {
	cursor: pointer;
	color: #fff;
	margin-right: 24px;
}

.footer img {
	border: 2px solid #fff;
	border-radius: 50%;
	margin: 12px 24px;
}

.gravatar {
	display: flex;
}

.gravatar p {
	font-size: 12px;
	margin: auto;
	color: #fff;
}

a:hover {
	text-decoration: underline;
}

.header {
	background: #1b2b63;
	color: #fff;
	padding: 28px;
	position: relative;
}

.heading {
	text-align: center;
}

.heading h1 {
	margin: 0;
}

.left-content {
	margin-right: 12px;
	width: 25%;
}

.main-content {
	align-items: flex-start;
	display: flex;
	margin: 20px;
	margin-bottom: 120px;
	margin-top: 30px;
	justify-content: space-evenly;
}

.hide-footer .main-content {
	margin-bottom: 12px;
}

.right-content {
	margin-right: 0;
}

.categories {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.button-group {
	display: inline-flex;
	flex-wrap: wrap;
	flex-direction: column;
	background: #fff;
	margin-right: 24px;
	width: 200px;
	margin-bottom: 24px;
	border-bottom-left-radius: 18px;
	border-bottom-right-radius: 18px;
	flex: 1;
}

.progress-bar,
.inner-progress {
	background: #c5c2c2;
	border-radius: 14px;
	display: inline-flex;
	height: 24px;
	width: 50%;
	margin: auto 0;
}

.progress-bar .inner-progress {
	background: rgb( 77, 205, 9 );
	background: linear-gradient( 90deg, rgb( 101, 212, 42 ) 36%, rgba( 81, 214, 10, 1 ) 92% );
}

.times-wrong {
	text-align: right;
	margin-right: 4px;
}

.celebration {
	display: none;
}

.celebration h3,
.try-retest-prompt {
	text-align: center;
}

.try-retest-prompt.is-inactive {
	display: none;
}

.export-prompt,
.export-prompt:hover {
	color: #fff;
	cursor: pointer;
	text-decoration: underline;
}

.export-sidebar-prompt-wrapper {
	display: none;
	margin: auto;
	text-align: center;
}

.practise-prompt {
	margin: 0;
	margin-top: 14px;
	margin-left: 32px;
	font-size: 18px;
}

.practise-prompt a {
	cursor: pointer;
	text-decoration: underline;
}

.leaderboard-submit-name {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.leaderboard-ineligible .leaderboard-submit-name {
	display: none;
}

.leaderboard-submit-name input {
	margin-bottom: 8px;
	margin-left: 12px;
	max-width: 100%;
}

.leaderboard-button {
	margin: 0;
}

#competition-warning a {
	cursor: pointer;
	text-decoration: underline;
}

.countdown-clock-circle {
	display: none;
	position: relative;
	float: left;
	margin: auto;
}

.countdown-clock-circle h2 {
	text-align: center;
	position: absolute;
	line-height: 95px;
	font-size: 40px;
	width: 100%;
}

.countdown-clock-circle svg {
	-webkit-transform: rotate( -90deg );
	transform: rotate( -90deg );
}

.countdown-clock-circle-animation {
	stroke-dasharray: 440;
	stroke-dashoffset: 0;
	-webkit-transition: all 1s linear;
	transition: all 1s linear;
}

.competition-introduction {
	text-align: center;
}

.competition-countdown {
	font-size: 64px;
	font-weight: 600;
}

#vocab-tester-wrapper.time-ended .competition-countdown {
	font-size: 32px;
}

#competitive-mode,
#vocab-test-competition,
.competition-conclusion,
.leaderboard-wrapper,
.is-competitive-mode #practise-mode,
.is-competitive-mode .practise-declensions-link,
.is-competitive-mode .introductary-text,
.is-competitive-mode .start-button-wrapper,
.is-competitive-mode .start-button-wrapper-text,
.is-competitive-mode .test-settings-wrapper,
.is-competitive-mode .reveal-answer-button,
.is-competitive-mode .progress-bar,
.is-competitive-mode .times-wrong,
.is-competitive-mode .incorrect-words,
.is-competitive-mode #progress-indicator-set,
.is-competitive-mode #vocab-tester-wrapper.time-started .competition-introduction,
.is-competitive-mode #vocab-tester-wrapper #vocab-tester,
.is-competitive-mode .file-upload {
	display: none;
}

.is-competitive-mode #vocab-tester-wrapper.time-started #vocab-tester,
.is-competitive-mode #vocab-test-competition,
.is-competitive-mode:not( .has-begun-vocab-test ) .leaderboard-wrapper,
.is-competitive-mode.has-begun-vocab-test .time-ended .leaderboard-wrapper,
.is-competitive-mode #vocab-tester-wrapper.time-ended .competition-conclusion,
.is-competitive-mode #vocab-tester-wrapper:not( .time-ended ) .countdown-clock-circle {
	display: block;
}

.is-competitive-mode #competitive-mode,
.is-competitive-mode #vocab-test-competition {
	display: block;
	padding: 24px;
	font-size: 18px;
}

.is-competitive-mode .main-content {
	margin: 20px 52px;
}

.is-competitive-mode .main-content {
	align-items: flex-start;
	margin-bottom: 80px;
}

.is-competitive-mode.has-begun-vocab-test .left-content {
	display: flex;
	justify-content: center;
}

.is-competitive-mode .time-ended .left-content {
	display: block;
}

.is-competitive-mode .options-menu .practise-options,
.has-begun-declension-test:not( .is-competitive-mode ) .left-content .incorrect-words,
.has-begun-conjugation-test:not( .is-competitive-mode ) .left-content,
.has-begun-declension-test .times-wrong,
.has-begun-conjugation-test .times-wrong,
.has-begun-declension-test .progress-bar,
.has-begun-conjugation-test .progress-bar,
.select-declensions-wrapper {
	display: none;
}

.has-begun-conjugation-test:not( .is-competitive-mode ) #vocab-tester-wrapper .right-content {
	width: 75%;
	margin: auto;
}

.has-begun-declension-test:not( .is-competitive-mode ) .left-content .select-declensions-wrapper,
.has-begun-vocab-test .options-menu a:nth-of-type( 1 ) {
	display: block;
}

.leaderboard-wrapper {
	text-align: left;
}

.select-declensions {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.select-declensions-wrapper h3 {
	font-size: 16px;
}

.select-declensions .toggle input {
	margin-left: 8px;
}

.has-begun-conjugation-test .vocab-submit-answer-wrapper,
.has-begun-declension-test .vocab-submit-answer-wrapper {
	margin-top: 32px;
}

.vocab-submit-answer-wrapper input {
	max-width: 100%;
}

.valid-name-warning {
	display: none;
	color: #ffe7e8;
	text-align: center;
}

#vocab-submit-word-form {
	font-weight: 700;
	font-size: 21px;
}

#vocab-tester-wrapper.is-complete .celebration {
	display: block;
}

.has-begun-vocab-test #vocab-tester-wrapper {
	display: flex;
	align-items: stretch;
}

.has-begun-vocab-test .practise-prompt {
	display: none;
}

.vocab-submit-buttons {
	display: flex;
	justify-content: center;
	margin-top: 18px;
}

#vocab-tester-wrapper {
	justify-content: normal;
}

#vocab-tester-wrapper .progress-bar {
	border-radius: 2px;
	margin-bottom: 12px;
	max-width: 400px;
}

#vocab-tester-wrapper .progress-bar .inner-progress {
	border-radius: 2px;
}

#vocab-tester-wrapper .left-content {
	margin-right: 32px;
	width: 30%;
}

.left-content,
#vocab-tester-wrapper .right-content {
	background: #445ea0;
	border-radius: 18px;
	box-shadow: 5px 5px #4d6bb7;
	color: white;
	padding: 12px;
}

#vocab-tester-wrapper .right-content {
	width: 100%;
}

#vocab-question {
	font-size: 2em;
}

#vocab-tester-wrapper.is-complete #vocab-tester,
#vocab-tester-wrapper,
.has-begun-vocab-test #vocab-selector {
	display: none;
}

.vocab-tester-wrapper {
	text-align: center;
}

.confetti {
	text-align: center;
}

.wrong-vocab-list {
	max-height: 220px;
	overflow-y: scroll;
}

.competition-options {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.competition-option-button {
	background: #fff;
	padding: 48px;
	margin-left: 48px;
	border-radius: 64px;
	cursor: pointer;
	box-shadow: 2px 3px #f5eeee;
	margin-bottom: 24px;
}

.competition-option-button p {
	text-align: center;
}

.competition-option-button:hover {
	transform: scale( 1.1 );
}

.competition-option-button img {
	display: flex;
	height: 180px;
	margin: auto;
}

.curtain {
	-webkit-animation: curtain 1.4s infinite;
	animation: curtain 1.4s infinite;
	background: #ee6c4d;
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 9;
}

.curtain.is-not-triggered {
	display: none;
}

.curtain.is-triggered {
	-webkit-animation: curtain 2.3s forwards;
	animation: curtain 2.3s forwards;
}

.complete-actions {
	display: flex;
	justify-content: center;
	margin-left: -20px;
}

@keyframes curtain {
	0% {
		transform: none;
	}
	100% {
		transform: translateY( -100% );
	}
}

@keyframes pulse {
	0% {
		transform: scale( 0.95 );
		box-shadow: 0 0 0 0 rgba( 0, 0, 0, 0.7 );
	}

	70% {
		transform: scale( 1 );
		box-shadow: 0 0 0 10px rgba( 0, 0, 0, 0 );
	}

	100% {
		transform: scale( 0.95 );
		box-shadow: 0 0 0 0 rgba( 0, 0, 0, 0 );
	}
}

.test-settings-wrapper p {
	font-size: 13px;
}

.practise-declensions-link {
	flex: 1;
	margin: auto;
}

.close-settings {
	display: none;
	text-align: right;
	font-size: 14px;
}

.loading-screen .progress-bar {
	display: block;
}

.toggle {
	display: flex;
	margin: auto;
	justify-content: space-between;
}

.toggle input {
	margin: auto 0;
}

.difficulty-text {
	margin: auto 0;
	margin-right: 8px;
}

.toggle.extreme-difficulty {
	margin-top: 24px;
}

.extreme-difficulty .difficulty-text {
	margin: 0;
	margin-right: 12px;
}

.max-word-prompt {
	display: none;
	margin-bottom: 12px;
}

.configure-values {
	display: flex;
	align-items: center;
}

.configure-values input {
	margin: 4px;
	width: 30px;
}

/* Switch styles mainly from w3schools */
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	border-radius: 34px;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.slider:before {
	border-radius: 50%;
	position: absolute;
	content: '';
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: #fff;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

input:checked + .slider {
	background-color: #ee6c4d;
}

input:focus + .slider {
	box-shadow: 0 0 1px #ee6c4d;
}

input:checked + .slider:before {
	-webkit-transform: translateX( 26px );
	-ms-transform: translateX( 26px );
	transform: translateX( 26px );
}

@media only screen and ( max-width: 1800px ) {
	.toggle input:checked + .slider:before {
		display: none;
	}
}

@media only screen and ( max-width: 1024px ) {
	.competition-option-button {
		border-radius: 6px;
		margin-left: 12px;
		padding: 14px 24px;
	}

	.competition-option-button img {
		max-width: 50%;
	}
}

@media only screen and ( max-width: 600px ) {
	#vocab-selector .left-content {
		width: auto;
		max-width: calc( 100% - 24px );
		margin: 0;
	}

	.select-all-option-mobile {
		display: block;
		position: absolute;
		right: 0;
		margin-right: 4px;
		margin-top: -48px;
	}

	.practise-prompt {
		font-size: 16px;
		margin-left: 0;
	}

	.select-all-option:nth-of-type( 2 ) {
		display: none;
	}

	.options-menu {
		align-items: flex-start;
	}

	.options-menu .practise-options {
		flex-direction: column;
		margin-left: 0;
	}

	.options-menu .practise-options a {
		border-radius: 0;
	}

	.options-menu .practise-options a:first-of-type {
		border-bottom: 1px solid #d66043;
	}

	.options-menu a {
		margin-right: 4px;
		font-size: 12px;
	}

	.introductary-text,
	.gravatar p {
		display: none;
	}

	.gravatar img {
		height: 48px;
	}

	.footer-links a {
		margin-right: 12px;
		font-size: 12px;
	}

	.main-content {
		align-items: center;
		flex-direction: column-reverse;
		flex-wrap: wrap;
	}

	.competition-option-button {
		margin-left: 0;
	}

	.competition-option-button img {
		height: 50px;
	}

	.has-begun-vocab-test #vocab-tester-wrapper,
	.vocab-submit-buttons {
		flex-direction: column-reverse;
	}

	.is-competitive-mode .main-content {
		align-items: stretch;
		margin-bottom: 120px;
	}

	#vocab-tester-wrapper {
		margin-right: 0;
		margin-left: 0;
		flex-wrap: wrap;
	}

	#vocab-tester-wrapper .left-content,
	#vocab-tester-wrapper .right-content {
		margin: auto;
		text-align: center;
		width: 80%;
	}

	#vocab-tester-wrapper .right-content {
		margin-bottom: 32px;
	}
}
